# Disable autosuspend (Apple Magic Mouse - Bluetooth)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="030d", ATTR{power/autosuspend}="-1"

# Disable autosuspend (Apple Keyboard - Bluetooth)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="0255", ATTR{power/autosuspend}="-1"
